body {
    margin: 0;
    mix-blend-mode: normal;
}

/* Common */
.success{
    background-color: green;
}
.success.btn:hover{
    background-color: rgb(3, 72, 3);
}
.failed{
    background-color: red;
}
.failed.btn:hover{
    background-color: rgb(93, 5, 5);
}
a.none {
    text-decoration: none;
}

section .bk {
    position: unset;
    min-height: calc(100vh - 50px);
    height: unset;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 800px;
    padding: 15px;
    color: white;
    font-family: 'Inter';

}

button {
    cursor: pointer;
}

.btn {
    font-family: 'Inter', sans-serif;
    padding: 16px 50px;
    border-radius: 15px;
    border: 0;
    font-size: 16px;
    transition: all 0.2s;
}
.disabled{
    opacity: 0.3;
    pointer-events: none;
}

.primary.btn {
    background-color: #B35C01;
    color: aliceblue;
}

.primary.btn:hover {
    background-color: #ffad55;
    color: #111B36;
}

.secondary.btn {
    background-color: unset;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.secondary.btn:hover {
    background-color: #ffad55;
    color: #111B36;
}

.grid-container {
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    min-width: 300px;
    min-height: 300px;

}

.flex-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.flex-item {
    width: 50%;
}

.big-icon {
    height: 150px;
    max-width: 250px;
}

.blur-box {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
}



/* end common */
/************************************************************************************/
/* start nav bar */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: #111B36;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 5;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

nav::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

nav div.history {
    display: flex;
    align-items: center;
}

nav a {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lobster', cursive;
    font-family: 'Secular One', sans-serif; */
    font-size: 15px;
    color: rgb(199, 199, 199);
    margin: 0 15px 0 25px;
    transition: all 0.1s;
    white-space: nowrap;
}

nav a:hover {
    color: #B35C01;
}

.back-arrow {
    width: 20px;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 50px;
    font-size: 25px;
    color: #B35C01;
}

a.logo:hover {
    color: rgb(199, 199, 199);
    ;
}

/* End nav bar */
/************************************************************************************/
/* start back ground image bar */
.bk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.bk.image {
    object-fit: cover;
}

.bk.cover {
    background: rgb(0 0 0 / 43%);
    backdrop-filter: blur(4.5px);
}

/* End back ground image bar */
/************************************************************************************/
/* start Home Section */
#home .content {
    font-size: 35px;
}

#home .primary.btn {
    margin: 35px auto;
}

.content .logo {
    font-size: 50px;
}

/* End Home Section */
/************************************************************************************/
/* start design section */

/* #design .blur-box {
    display: flex;
    justify-content: center;
} */
#design .grid-container {
    gap: 25px;
}

#design .blur-box {
    position: relative;
}
#design .blur-box:hover .title {
    bottom: 0;
    height: 100%;
    border-radius: 40px;
}
#design .blur-box img {
    margin: 15px;
    object-fit: contain;
}

.title {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
    background: #111B36;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 0.7, 1, 1);
}

.title h2 {
    text-align: center;
    color: white;
    font-family: 'Inter';
    font-size: 25px;
    line-height: 50px;
    margin: 0;
}

.title .content {
    opacity: 0;
    padding: 5px 10px;
    transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    height: calc(100% - 120px);
    font-size: 12px;
    overflow-y: scroll;

}

.title .content::-webkit-scrollbar {
    display: none;
}

.title .content ul {
    margin: 0;
    padding: 0 15px;

}



.title:hover>.content {
    opacity: 1;
}

/* End design section */
/************************************************************************************/
/* start Data entry section */

#data-entry {
    font-family: 'Inter', sans-serif;

}

#data-entry button {
    margin: 15px;
}

.data-entry-container {
    background: #111B36;
    border-radius: 40px;
    padding: 0 15px;
    /* max-width: 400px;
    max-height: 600px; */
    /* height: 500px; */
    width: 85%;
    position: relative;
}

.data-entry-box {
    min-height: 400px;
}

.data-input {
    position: relative;
    display: grid;
    margin: 10px 0;
    line-height: 1.7;
}

.data-input span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #838383;

}

.data-input select,
.data-input input {
    margin: 0;
    width: calc(100% - 24px);
    padding: 0 10px;
    border: 2px solid #0000;
    height: 35px;
    border-radius: 10px;
    font-family: system-ui;
}

.data-input select {
    width: 100%;
}

.data-input select:focus,
.data-input input:focus {
    outline: #B35C01;
    border: 2px solid #B35C01;

}

.flex-item input {
    width: calc(100% - 49px);
    padding-right: 35px;
}

/* back */
.back-enter {
    transform: translateX(-100%);
}

.back-enter-active {
    transform: translateX(0);
}

.back-exit {
    transform: translateX(0);
}

.back-exit-active {
    transform: translate(100%);
}

/* next */
.next-enter {
    transform: translateX(100%);
}

.next-enter-active {
    transform: translateX(0);
}

.next-exit {
    transform: translateX(0);
}

.next-exit-active {
    transform: translateX(-100%);
}

/* off grid design  */

.data-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "dv dv hd hd hd ";
    gap: 15px;
    align-items: flex-end;
}
.device{
    grid-area: dv;
}
.device.btn{
    grid-area: unset;
    margin: 0 !important;
    color: white;
    height: 40px;
    padding: 0;
    border-radius: 10px;
}
.results p{
    font-size: 12px;
}
@media screen and (max-width: 600px) {
    .device.btn span{
        display: none;
    }
    .device.btn {
        font-size: 20px;
    }
}