body {
    margin: 0;
    mix-blend-mode: normal;
}

/* Common */
a.none {
    text-decoration: none;
}

section .bk {
    position: unset;
    height: calc(100vh - 50px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 800px;
    padding: 15px;
    color: white;
    font-family: 'Inter';

}

button {
    cursor: pointer;
}
.btn {
    font-family: 'Inter', sans-serif;
    padding: 16px 50px;
    border-radius: 15px;
    border: 0;
    font-size: 16px;
    transition: all 0.2s;
}
.primary.btn {
    margin: 35px auto;
    background-color: #B35C01;
    color: aliceblue;
}

.primary.btn:hover {
    background-color: #ffad55;
    color: #111B36;
}
.secondary.btn {
    background-color: unset;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.secondary.btn:hover {
    background-color: #ffad55;
    color: #111B36;
}
.grid-container {
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    min-width: 300px;
    min-height: 300px;

}

.big-icon {
    height: 150px;
    max-width: 250px;
}

.blur-box {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
}

@media screen and (max-width: 600px) {
    .grid-item {
        min-width: 250px;
        min-height: 250px;
    }

    .big-icon {
        height: 100px;
        max-width: 200px;
    }
}

/* end common */
/************************************************************************************/
/* start nav bar */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: #111B36;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav a {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lobster', cursive;
    font-family: 'Secular One', sans-serif; */
    font-size: 20px;
    color: rgb(199, 199, 199);
    margin: 0 15px 0 25px;
    transition: all 0.5s;
}

nav a:hover {
    color: #B35C01;
}

.back-arrow {
    width: 25px;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 50px;
    font-size: 25px;
    color: #B35C01;
}

a.logo:hover {
    color: rgb(199, 199, 199);
    ;
}

/* End nav bar */
/************************************************************************************/
/* start back ground image bar */
.bk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.bk.image {
    object-fit: cover;
}

.bk.cover {
    background: rgb(0 0 0 / 43%);
    backdrop-filter: blur(4.5px);
}

/* End back ground image bar */
/************************************************************************************/
/* start Home Section */
#home .content {
    font-size: 35px;
}



.content .logo {
    font-size: 50px;
}

/* End Home Section */
/************************************************************************************/
/* start design section */

/* #design .blur-box {
    display: flex;
    justify-content: center;
} */
#design .grid-container {
    gap: 25px;
}
#design .blur-box  {
    position: relative;
}
#design .blur-box img {
    margin: 15px;
    object-fit: contain;
}

.title {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
    background: #111B36;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 0.7, 1, 1);
}

.title h2 {
    text-align: center;
    color: white;
    font-family: 'Inter';
    font-size: 25px;
    line-height: 50px;
    margin: 0;
}

.title .content {
    opacity: 0;
    padding: 5px;
    transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    height: calc(100% - 120px);
    /* height: 50%; */

}
.title .content ul {
    margin: 0;
    /* height: calc(100% - 50px); */

}
.title:hover{
    bottom: 0;
    height: 100%;
    border-radius: 40px;
}
.title:hover > .content{
    opacity: 1;
}